<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="PersonnelApplication.Properties.Settings.PersonnelConnectionString" connectionString="Data Source=WIN-DEV;Initial Catalog=Personnel;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="PersonnelEntities" connectionString="metadata=res://*/PeopleTypes.csdl|res://*/PeopleTypes.ssdl|res://*/PeopleTypes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-DEV;initial catalog=Personnel;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>